# Virtual Environment
.venv/
myvenv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Models
*.pkl
*.joblib

# Outputs
outputs/

# OS Files
.DS_Store
Thumbs.db